---
import Base from "../layouts/Base.astro";
---
<Base title="Tomoya & Rina Wedding Invitation">
    <section
    class="flex flex-col items-center justify-center h-screen pb-25
           bg-gradient-to-b from-cream-200 from-55% via-cream-100 via-75% to-white to-90%">
           <img
           src="/images/flower1.png"
           alt=""
           class="mx-auto mt-6 w-[95%] sm:w-[85%] h-auto select-none pointer-events-none"
           loading="eager" decoding="async" />
    <img
      src="/images/title.svg"
      alt="Tomoya & Rina / Wedding Invitation / 2026.1.18  13:10 RECEPTION OPEN"
      class="mx-auto my-6 w-[85%] sm:w-[80%] h-auto"
      loading="eager" decoding="async" />

      <img
      src="/images/flower2.png"
      alt=""
      class="mx-auto w-[98%] sm:w-[88%] h-auto select-none pointer-events-none"
      loading="eager" decoding="async" />
	</section>
  <section class="py-10 px-5 text-center">
    <div data-reveal data-once="true" class="reveal reveal-zoom p-2 bg-cream-50 shadow-xl/5 bg-[url(/images/tile.svg)] bg-repeat bg-size-[80px]">
      <div class="py-15 px-5 bg-cream-50 border-2 rounded-sm shadow-lg/20 border-gold">
        <p class="text-base/8 xs:text-lg/8">謹啓
          <br/>
          <br/>皆様におかれましては
          <br/>ますますご清祥のことと
          <br/>お慶び申し上げます
          <br/>
          <br/>このたび私たちは
          <br/>結婚式を挙げることになりました
          <br/>つきましては皆様により一層の
          <br/>ご指導を賜りたく
          <br/>ささやかではございますが披露宴を
          <br/>催したく存じます
          <br/>
          <br/>ご多用中誠に恐縮ではございますが
          <br/>ぜひご出席をいただきたく
          <br/>ご案内申し上げます
          <br/>
          <br/>謹白
          <br/>
          <br/>令和八年一月吉日
          <br/>
          <br/>古川智也
          <br/>荒瀬梨奈
        </p>
      </div>
    </div>
  </section>

  <section class="py-20 text-center flex gap-10 flex-col items-center">
    <h2 class="text-5xl font-script">Hosts</h2>
    <div data-reveal data-once="true" class="reveal reveal-left flex gap-10 items-center pl-15 text-lg"><div>古川 智也</div> <div class="h-40 w-40 rounded-full bg-cream-200"></div></div>
    <div data-reveal data-once="true" class="reveal reveal-right flex gap-10 items-center pr-15 text-lg"><div class="h-40 w-40 rounded-full bg-cream-200"></div><div>荒瀬 梨奈</div></div>
    <div data-reveal data-once="true" class="reveal reveal-up flex gap-5 items-center flex-col"><div class="h-33 w-33 rounded-full bg-cream-200"></div><div>アンちゃん</div></div>
  </section>


  <section class="py-10 px-5">
    <div class="py-8 border-3 border-gold text-center flex gap-5 flex-col items-center">
      <h2 class="text-4xl text-gold font-script">Wedding Ceremony</h2>
      <p class="text-lg">2026年1月18日 [日]</p>
      <h3 class="text-2xl font-bold font-sans">聖 婚 式</h3>
      <div class="w-3/4 text-lg text-left grid grid-cols-7 gap-2">
        <span class="col-span-2">受　付</span>
        <span class="col-span-5">13:10</span>
        <span class="col-span-2">挙　式</span>
        <span class="col-span-5">13:30</span>
        <span class="col-span-2">於</span>
        <div class="col-span-5">
          <div>立教大学池袋チャペル</div>
          <div class="text-sm">東京都豊島区西池袋3-34-1<br>
            立教大学池袋キャンパス内</div>
        </div>
        <a
        href="/TomoyaRinaWedding.ics"
        download="TomoyaRinaWedding.ics"
        class="inline-block text-zinc-500 underline text-sm col-span-5" target="_blank"
      >
        カレンダーに追加 (.ics)
      </a>
      <a
        href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=古川智也+%26+荒瀬梨奈+聖婚式&dates=20260118T041000Z/20260118T053000Z&details=受付+13%3A10+挙式+13%3A30+Web招待状+https%3A%2F%2Fwedding-invitation-c31.pages.dev
      &location=立教学院諸聖徒礼拝堂（立教大学池袋キャンパス）"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-block text-zinc-500 underline text-sm col-span-5"
      >
        Googleカレンダーに追加
      </a>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d510.08203702141384!2d139.70302710372314!3d35.73064439340377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d599ead44b3%3A0xfafad8407eeb5856!2z56uL5pWZ5a2m6Zmi6Ku46IGW5b6S56S85oud5aCC!5e0!3m2!1sja!2sjp!4v1759762310523!5m2!1sja!2sjp" class="w-5/6 h-40" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <h3 class="mt-10 text-2xl font-bold font-sans">披 露 宴</h3>
      <div class="w-3/4 text-lg text-left grid grid-cols-7 gap-2">
        <span class="col-span-2">受　付</span>
        <span class="col-span-5">15:30</span>
        <span class="col-span-2">開　始</span>
        <span class="col-span-5">16:00</span>
        <span class="col-span-2">於</span>
        <div class="col-span-5">
          <div>キンプトン新宿東京<br>15F
            《ラファエット》 </div>
          <div class="text-sm">東京都新宿区西新宿3-4-7</div>
        </div>
        <a
          href="/TomoyaRinaBanquet.ics"
          download="TomoyaRinaBanquet.ics"
          class="inline-block text-zinc-500 underline text-sm col-span-5" target="_blank"
        >
          カレンダーに追加 (.ics)
        </a>
        <a
        href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=古川智也+%26+荒瀬梨奈+結婚披露宴&dates=20260118T063000Z/20260118T093000Z&details=受付+15%3A30+開始+16%3A00+Web招待状+https%3A%2F%2Fwedding-invitation-c31.pages.dev
      &location=キンプトン新宿東京+15F+ラファエット"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-block text-zinc-500 underline text-sm col-span-5"
      >
        Googleカレンダーに追加
      </a>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.6514811277025!2d139.68967637578794!3d35.68558267258585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d6357e86857%3A0x9828b30f6f3d39d8!2z44Kt44Oz44OX44OI44OzIOaWsOWuv-adseS6rA!5e0!3m2!1sja!2sjp!4v1759761727994!5m2!1sja!2sjp" class="w-5/6 h-40" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>

  <section class="bottom-0 py-5 text-center text-sm">
    <a
    href="https://forms.gle/mjUcVsJjaDKHzYyu7"
    target="_blank"
    rel="noopener noreferrer"
    class="inline-block bg-rose-400 hover:bg-rose-500 text-white px-8 py-4 mb-3 rounded-full text-lg shadow transition"
  >
    ご出欠の回答フォームへ
  </a>
    <p>© 2025 Tomoya & Rina Wedding Invitation</p>
  </section>
</Base>
