---
import Base from "../layouts/Base.astro";
---
<Base title="Tomoya & Rina Wedding Invitation">
    <section
    class="flex items-center h-screen
           bg-gradient-to-b from-cream-200 from-55% via-cream-100 via-75% to-white to-90%">


    <img
      src="/images/title.svg"
      alt="Tomoya & Rina / Wedding Invitation / 2026.1.18  13:10 RECEPTION OPEN"
      class="mx-auto my-6 w-[86%] max-w-[520px] sm:max-w-[600px] h-auto"
      loading="eager" decoding="async" />
	</section>
  <section class="py-10 text-center">
    <p class="mb-6">このたび私たちは結婚式を挙げることになりました。<br/>ご多忙のところ恐縮ですが、ぜひご出席ください。</p>
    <a
      href="https://forms.gle/mjUcVsJjaDKHzYyu7"
      target="_blank"
      rel="noopener noreferrer"
      class="inline-block bg-rose-400 hover:bg-rose-500 text-white px-8 py-4 rounded-full text-lg shadow transition"
    >
      ご出席の回答フォームへ
    </a>
  </section>

  <section class="py-20 text-center text-sm text-neutral-500">
    <p>© 2025 Tomoya & Rina Wedding Invitation</p>
  </section>
</Base>
